<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title %>
    </title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/styles/main.css" />
</head>

<body>
    <header class="topbar">
        <h2>Terp Notes</h2>
    </header>

    <main class="centered">
        <div class="alert">
            <h1 style="color: #10B981;">
                <%= title %>
            </h1>
            <p>
                <%= message %>
            </p>
            <a href="<%= link %>" class="button primary">
                <%= linkText %>
            </a>
        </div>
    </main>

    <%- include('partials/footer') %>
</body>

</html>
